text {
    fill: white;
    font-weight: 200;
}

body {
   background-color: #292075;
}

.btn {
    font-weight: bold;
}

.react {
    background-color: #61dafb;
    fill: #61dafb;
}
.react:hover {
    background-color: #2EA7C8;
    color: white;
    fill: #2EA7C8;
}

.angular {
    background-color: #DD0031;
    fill:#DD0031;
}
.angular:hover {
    background-color: #AA0000;
    color: white;
    fill:#AA0000;
}

.emberjs {
    background-color: #E04E39;
    fill:#E04E39;
}
.emberjs:hover {
    background-color: #AD1B06;
    color: white;
    fill:#AD1B06;
}

.vuejs {
    background-color: #35495e;
    fill:#35495e;
}

.vuejs:hover {
    background-color: #02162B;
    color: white;
    fill:#02162B;
}

.text-contrast-color {
    color: white
}

.big-label {
    font-weight: bold;
    font-size: large;
}

.top-buffer { margin-top:10px; }